body{
color: #f8f8f8;
background-color: black;
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;

}
a{
    color: beige;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #324f7b;
}

.center{
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
}

footer{
        display: flex;
        justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 20px;
}
 
.coluna{
    padding: 20px 20px;
    text-align: center;
}


nav a:hover{
    color: #324f7b;
}

.mim{
    padding: 50px;
    text-align: center;
}

section ul{
    margin: 10px 200px 50px;
    text-align: center;
    list-style-type: none;
    display: flex; /*muda a distribuicao dos itens dentro do padding*/
    justify-content: center; /* muda o local onde os itens vao ficar*/
    gap: 50px /*espacamento entre os itens*/

}

.estudo{

    text-align: center;
}

.nome{

    text-align: center;
    color: #324f7b;
}

section h3{
    text-align: center;
}